// .ui input, .ai input {
//     width: 30%;

 

// }
.ui input, .ai input{
  padding: 12px 24px;
margin:14px;
outline:none;
border: none;
border-radius:10px;

}
.alls{
    background-color: gray;
    min-height:800px
}